

    .g-form {
    margin: 10px auto;
    display: block;
    padding-bottom: 10px;
    width: 500px;
    height: 500px;
}

.rush-title {
    margin-top: 30px;
}

.rush-info {
    margin: 10px auto;
    width: 70%;
    text-align: center;
    font-size: 200%;
    padding-bottom: 20px;
}

.rush-chair-box {
    box-sizing: content-box;
    background-color: #e8e8e8;
    margin: 12px auto 40px auto;
    width: 310px;
    padding: 12px;
    border-radius: 10px;
}

.rush-chair-box img,
.rush-chair-box ul {
    display: inline-block;
    vertical-align: middle;
}

.rush-chair-box ul {
    padding: 10px;
}

.rush-chair-box ul li {
    list-style: none;
}

.box-1 {
    float: right;
    margin-right: 20px;
}

.box-2 {
    float: left;
    margin-left: 20px'
}

.rush-chair-box ul li:first-child {
    font-weight: 700;
}

.rush-video {
    margin: 10px auto;
    display: block;
    padding-bottom: 10px;
}

.fa-facebook-official {
    color: #3B5998;
}

.fa-twitter-square{
    color: #1DA1F2
}

.fa-instagram {
    color: #262626;
}

.social-info {
    text-align: center;
    font-size: 130%;
}

.social-links {
    text-align: center;
    font-size: 250%;
    margin-bottom: 20px;;
}

.social-links a {
    margin: 0px 10px 20px 10px;
}

.album {
    width: 40%;
    padding-bottom: 30px;
    margin: 10px auto 0px auto;
    display: block;
}

@media only screen and (max-width: 768px) {
    iframe {
        width: 320px;
        height: 238px;
    }

    .g-form {
        margin: 10px auto;
        display: block;
        padding-bottom: 10px;
        width: 100%;
        height: 500px;
    }

    .rush-cover {
        margin: 40px auto 20px auto;
        width: 300px;
    }

    .rush-info {
        width: 80%;
        font-size: 110%;
    }

    .rush-video {
        width: 700px;
        height: 394px;
        margin-top: 0px;
    }

    .social-info {
        font-size: 110%;
    }

    .box-1 {
        margin: 0px auto 15px auto;
        float:none;
        align: center;
    }
    .box-2 {
        margin: 15px auto 30px auto;
        float: none;
        align: center;
    }
    .album {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .lead {
        margin-bottom: 0px;
        margin-top: 10px;
    }
}
