html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Open Sans', sans-serif;
}
body{
    /* for the fixed navbar */
    padding-top: 50px;
    background-color: #fbfbfb;
}


.footer{
    background-color: #c11714;
    height: 60px;
}

.footer h3{
    color: white;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 150%;
    margin-top: 0pt;
    font-style: italic;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
}

.billboard {
    height: 650px;
    background: url('https://i.imgur.com/NG54CPi.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.billboard h1 {
    font-size: 8em;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-top: 0px;
    padding-top: 12%;
    margin-bottom: 0px;
}
  
.billboard h3 {
    font-size: 3em;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    font-weight: 700;
    padding-left: 1%;
}
.chapter {
    color: white;
    padding-left: 0px;
    text-transform: uppercase;
}
.bodytext{
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
    padding-left: 5px;
}
.pure-button{
    background: #c11714;
    font-family: 'Roboto Slab', serif;
}
.pure-form{
    font-family: 'Open Sans', sans-serif;
}
.jointext h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.landing-img {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 90%;
    -webkit-box-shadow: 0px 0px 10px 0px #839496;
    -moz-box-shadow: 0px 0px 10px 0px #839496;
    box-shadow: 0px 0px 10px 0px #839496;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
}

.navbar {
    background-color: #c11714;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
    font-size: 175%;
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgb(250, 211, 3);
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
    font-size: 250%;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand:hover {
    color: rgb(250, 211, 3);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

body p {
    font-family: 'Open Sans', sans-serif;
    font-size: 175%;
}

@media (max-width: 1035px){
    .smallhide{
        display: none;
    }
    .billboard h1{
        font-size: 6em;
        padding-top: 30%;
    }
    .billboard h3{
        font-size: 1.5em;
    }
    .chapter{
        font-size:20%;
    }
}
@media (min-width: 1035px){
    .smallshow{
        display: none;
    }
}